/* Style for the footer */
.footer {
  text-align: center;
  padding: 10px 0;
  background-color: #f0f0f0;
  position: relative; /* Position relative to its normal position */
  margin-top: auto; /* Push the footer to the bottom */
  width: 100%;
}

