Apply animation to all animated-icon class
.animated-icon {
    animation: none; /* Initially, no animation */
  }
  
  /* Apply animation on hover */
  .nav-link a:hover .animated-icon {
    animation: bounce 1s forwards; /* Play the bounce animation on hover */
  }
  
  /* Define the bounce animation */
  @keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
  }
  
  /* Styles for specific icons */
  .bx-folder-alt.black-icon {
    color: black; /* Change the color of the distress details icon */
    margin-right: 10px; /* Add margin between the icon and text */
  }
  