/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
body {
    background: #888888;
  }
  
.sidebar {
  position: fixed;
  width: 250px;
  height: 100%;
  background-color: #929292;
  padding: 20px;
  box-sizing: border-box;
  transition: all 500ms linear;
}

.sidebar-link {
  display: block;
  color: #212529;
  text-decoration: none;
  margin-bottom: 10px;
}

.sidebar-link:hover {
  color: #007bff;
}

.menu-icon {
  position: fixed;
  top: 20px;
  left: 20px;
  cursor: pointer;
  z-index: 1;
}

.menu-icon div {
  width: 30px;
  height: 5px;
  background-color: #212529;
  margin: 5px 0;
  transition: all 300ms linear;
}

.main-content {
  margin-left: 100px;
  margin-right: 100px;
  transition: margin-left 0.3s;
}

.main-content.sidebar-hidden {
  margin-left: 0;
}

.sidebar-hidden {
  margin-left: -250px;
}

.menu-icon-active {
  transform: rotate(90deg);
}

@media (max-width: 768px) {
  .sidebar {
      margin-left: -250px;
  }

  .main-content {
      margin-left: 0;
  }
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
  
  .logo-container {
    display: flex;
    justify-content: center;
    align-items: left;
    margin-bottom: 20px;
  }
  
  .logo {
    width: 80px;
    height: auto;
  }
  
  /* Main Content Styles */
  .main-content {
    flex-grow: 1;
  }
  
  .subtitle {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 11px;
    color: #fae02d;
    font-family: Nunito;
    text-align: center;
  }
  
  .elevated-container {
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 20px;
    position: relative; /* Ensure proper stacking context for children elements */
    border: 1px solid #000; /* Thin black border */
    margin-bottom: 50px;
  }
  .elevated-container20 {
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 10px;
    padding: 50px;
    margin-bottom: 20px;
    position: relative; /* Ensure proper stacking context for children elements */
  }
  .elevated-container1 {
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 10px;
    padding: 59px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 140%;
    height: 77vh;
    position: relative;
    border: 1px solid #000; /* Thin black border */
  }
  .elevated-container33 {
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 10px;
    padding: 59px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 140%;
    height: 37vh;
    position: relative;
    border: 1px solid #000; /* Thin black border */
  }
  .elevated-container34 {
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 10px;
    padding: 59px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 140%;
    height: 37vh;
    position: relative;
    border: 1px solid #000; /* Thin black border */
    left: 53%;
  }
  .elevated-container35 {
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 10px;
    padding: 59px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 140%;
    height: 37vh;
    position: relative;
    border: 1px solid #000; /* Thin black border */
    left: 105%;
  }
  .elevated-container12 {
    background-color: rgba(255, 255, 255, 0.897);
    border-radius: 10px;
    padding: 59px;
    margin-bottom: 20px;
    margin-left: 110px;
    width: 150%;
    height: 77vh;
    position: relative; /* Ensure proper stacking context for children elements */
    border: 1px solid #000; /* Thin black border */
  }
  .elevated-container10 {
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 10px;
    padding: 0; /* Remove padding or adjust as needed */
    margin-bottom: 20px;
    width: 148%;
    height: 300px; /* Set an appropriate height for the container */
    position: relative;
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5), /* Left shadow */
                5px 0 5px -5px rgba(0, 0, 0, 0.5);  /* Right shadow */
}
.elevated-container30 {
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 10px;
  padding: 30px; /* Remove padding or adjust as needed */
  margin-bottom: 10px;
  width: 148%; /* Set a fixed width in pixels */
  height: 110px; /* Set an appropriate height for the container */
  position: relative;
  display: flex; /* Use Flexbox */
  align-items: center; /* Center vertically */
  justify-content: flex-end; /* Align content to the center-right */
  margin-top: 120px;
  box-shadow: -6px 0 5px -6px rgba(0, 0, 0, 0.5), /* Left shadow */
              6px 0 5px -6px rgba(0, 0, 0, 0.5), /* Right shadow */
              0 5px 5px -5px rgba(0, 0, 0, 0.5); /* Bottom shadow */
  right: 370px;
}
.elevated-container31 {
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 10px;
  padding: 30px; /* Remove padding or adjust as needed */
  margin-bottom: 10px;
  width: 148%; /* Set a fixed width in pixels */
  height: 80px; /* Set an appropriate height for the container */
  position: relative;
  display: flex; /* Use Flexbox */
  align-items: center; /* Center vertically */
  justify-content: flex-end; /* Align content to the center-right */
  margin-top: 0px;
  box-shadow: -6px 0 5px -6px rgba(0, 0, 0, 0.5), /* Left shadow */
              6px 0 5px -6px rgba(0, 0, 0, 0.5), /* Right shadow */
              0 5px 5px -5px rgba(0, 0, 0, 0.5); /* Bottom shadow */
  right: 0px;
}

.logout-link {
  margin-right: 30px; /* Add margin to the right side */
}
.welcome-text {
  margin-right: 10px;
  color: #005b9b; /* Set a dark grey color */
}



.elevated-container21 {
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 10px;
  padding: 0; /* Remove padding or adjust as needed */
  margin-bottom: 20px;
  width: 223%;
  height: 300px; /* Set an appropriate height for the container */
  position: relative;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5), /* Left shadow */
              5px 0 5px -5px rgba(0, 0, 0, 0.5);  /* Right shadow */
  position: relative;
}
  .elevated-container18 {
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 10px;
    padding: 100px;
    margin-bottom: 30px;
    width: 222%;
    position: relative; /* Ensure relative positioning for absolute child */

  }
  
  .panel-title {
    position: center; /* Not a valid position value, consider 'relative' or 'absolute' */
    top: 20px; /* Adjust top position as needed */
    left: 20px; /* Adjust left position as needed */
    color: #6190E8; /* Set color for the title */
    margin-left: 20px;
    font-weight: 900; /* Use a high numeric value for a thicker font */
    font-family: 'Work Sans', sans-serif;
    font-size: 50px; /* Set the font size to make it bigger */
  }  
  .subtitle {
    font-size: 18px; /* Adjust font size as needed */
    color: #6190E8; /* Adjust color as needed */
    margin-top: 5px; /* Adjust spacing from the title */
    /* Additional styling properties as needed */
    font-family: 'Work Sans', sans-serif;
    position: relative;
    top: 20px; /* Adjust the top value to align with the title */
    left: 20px; /* Adjust the left value to align with the title */
  }
  
  .elevated-container2 {
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 10px;
    padding: 30px; /* Adjust padding as needed */
    margin-bottom: 10px;
    display: flex; /* Ensures the containers are side by side */
    width: 1100px;
    position: relative; /* Ensure proper stacking context for children elements */
    min-width: 100px; /* Set minimum width */
    min-height: 150px; /* Set minimum height */
    margin-left: -14px;
    box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5), /* Left shadow */
                5px 0 5px -5px rgba(0, 0, 0, 0.5);  /* Right shadow */
}
.elevated-container3 {
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 10px;
  padding: 5px;
  margin-bottom: 10px;
  margin-left: 1px;
  width: 1000px; /* Set the width to your desired value */
  overflow: hidden; /* Hide content overflowing from the container */
  position: relative; /* Ensure proper stacking context for children elements */
}
.elevated-container15 {
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 10px;
  padding: 100px;
  margin-bottom: 10px;
  margin-left: -15px;
  width: 1095px; /* Set the width to your desired value */
  overflow: hidden; /* Hide content overflowing from the container */
  height: 900px;
  position: relative; /* Ensure proper stacking context for children elements */
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5), /* Left shadow */
                5px 0 5px -5px rgba(0, 0, 0, 0.5);  /* Right shadow */
  
}
.elevated-container16 {
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 10px;
  padding: 20px; /* Adjusted padding */
  margin-bottom: 10px;
  margin-left: 10%; /* Center the container by adjusting margins */
  margin-right: 10%; /* Center the container by adjusting margins */
  max-width: 1100px; /* Set a maximum width for the container */
  overflow: hidden; /* Hide content overflowing from the container */
  position: relative; /* Ensure proper stacking context for children elements */
  border: 1px solid #000; /* Thin black border */
}
.elevated-container25 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 10px;
  margin-left: 10%;
  margin-right: 10%;
  max-width: 1100px;
  overflow: hidden;
  position: relative;
  box-shadow: -5px 0 5px -5px rgba(0, 0, 0, 0.5),
              5px 0 5px -5px rgba(0, 0, 0, 0.5);
}



  .elevated-container4 {
    flex: 1; /* Allows the containers to occupy equal space within the parent */
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 10px;
    padding: 20px; /* Adjust padding as needed */
    margin-right: 10px; /* Creates space between container4 and container5 */
    position: relative; /* Ensure proper stacking context for children elements */
    border: 1px solid #000; /* Thin black border */
}

.elevated-container5 {
    flex: 1; /* Allows the containers to occupy equal space within the parent */
    background-color: rgba(255, 255, 255, 0.726);
    border-radius: 10px;
    padding: 20px; /* Adjust padding as needed */
    margin-left: 10px; /* Creates space between container4 and container5 */
    position: relative; /* Ensure proper stacking context for children elements */
    border: 1px solid #000; /* Thin black border */
}
.elevated-container6 {
  flex: 1; /* Allows the containers to occupy equal space within the parent */
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 10px;
  padding: 20px; /* Adjust padding as needed */
  margin-right: 5px; /* Creates space between container4 and container5 */
  position: relative; /* Ensure proper stacking context for children elements */
  min-width: 200px; /* Set minimum width */
  min-height: 170px; /* Set minimum height */
  height: 170vh;
  margin-bottom: 10px;
  border: 1px solid #000; /* Thin black border */
  width: 145%;
}

.elevated-container7 {
  flex: 1; /* Allows the containers to occupy equal space within the parent */
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 10px;
  padding: 20px; /* Adjust padding as needed */
  margin-left: 5px; /* Creates space between container4 and container5 */
  position: relative; /* Ensure proper stacking context for children elements */
  min-width: 200px; /* Set minimum width */
  min-height: 170px; /* Set minimum height */
  height: 170vh;
  margin-bottom: 10px;
  border: 1px solid #000; /* Thin black border */
  width: 150%;
  left: 47%;
}
.elevated-container8 {
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 20px;
  margin-left: -60px;
  width: auto;
  position: relative; /* Ensure proper stacking context for children elements */
}
.elevated-container9 {
  background-color: rgba(255, 255, 255, 0.726);
  border-radius: 10px;
  padding: 50px;
  margin-bottom: 20px;
  margin-left: -60px;
  width: fit-content;
  position: relative; /* Ensure proper stacking context for children elements */

}


  .container h3 {
  margin-top: 0;
}
  .audio-analysis-subcontainer {
    width: 48%;
    
  }

  .audio-analysis-sub-subcontainer {
    width: 100%;
  }
  
  #currentStatus {
    text-align: center;
    font-size: 16px;
    background-color: #ca3426;
    color: white;
    padding: 10px;
    border-radius: 20px;
    display: inline-block;
  }
  
  /* Table Styles */
  .field-table {
    width: 100%;
    border-collapse: collapse;
    border-color: black;
    margin-top: 20px;
  }
  
  .field-row {
    border-bottom: 1px solid #ccc;
    border-color: black;
  }
  
  .field-label,
  .field-value {
    padding: 10px;
    border-right: 1px solid #ccc;
    border-color: black;
  }
  
  .field-value:last-child {
    border-right: none;
  }
  
  /* Style for the text card container */
#textCardContainer {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 9999;
  display: none; /* Hide the text card container by default */
}

/* Style for the text card content */
.textCard h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.textCard p {
  font-size: 16px;
  line-height: 1.5;
}


.form-field {
  border-radius: 10px;
}

#distressCountsDisplay {
  text-align: center;
  margin: auto;
  width: 75%;
  border: 2px solid #bc4c1c;
  padding: 10px;
  font-size: 16px;
  color:#e02727
}

#backtotopbutton {
  display: inline-block;
  background-color: #6190E8;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#backtotopbutton::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}
#backtotopbutton:hover {
  cursor: pointer;
  background-color: #333;
}
#backtotopbutton:active {
  background-color: #555;
}
#backtotopbutton.show {
  opacity: 1;
  visibility: visible;
}

/* CSS */
table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
  z-index: 1;
}

.loading-message {
  text-align: center;
  padding: 20px;
  font-weight: bold;
  font-size: 18px;
  background-color: rgba(255, 255, 255, 0.8);
}


/* Cards for the Distress Descriptions */
.projcard-container,
.projcard-container * {
  box-sizing: border-box;
}
.projcard-container {
  margin-left: auto;
  margin-right: auto;
  width: 1000px;
}
.projcard {
  position: relative;
  width: 100%;
  height: 300px;
  margin-bottom: 40px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ddd;
  font-size: 18px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 4px 21px -12px rgba(0, 0, 0, .66);
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.projcard:hover {
  box-shadow: 0 34px 32px -33px rgba(0, 0, 0, .18);
  transform: translate(0px, -3px);
}
.projcard::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(-70deg, #424242, transparent 50%);
  opacity: 0.07;
}
.projcard:nth-child(2n)::before {
  background-image: linear-gradient(-250deg, #424242, transparent 50%);
}
.projcard-innerbox {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.projcard-img {
  position: absolute;
  height: 300px;
  width: 400px;
  top: 0;
  left: 0;
  transition: transform 0.2s ease;
}
.projcard:nth-child(2n) .projcard-img {
  left: initial;
  right: 0;
}
.projcard:hover .projcard-img {
  transform: scale(1.05) rotate(1deg);
}
.projcard:hover .projcard-bar {
  width: 70px;
}
.projcard-textbox {
  position: absolute;
  top: 7%;
  bottom: 7%;
  left: 430px;
  width: calc(100% - 470px);
  font-size: 17px;
}
.projcard:nth-child(2n) .projcard-textbox {
  left: initial;
  right: 430px;
}
.projcard-textbox::before,
.projcard-textbox::after {
  content: "";
  position: absolute;
  display: block;
  background: #ff0000bb;
  background: #fff;
  top: -20%;
  left: -55px;
  height: 140%;
  width: 60px;
  transform: rotate(8deg);
}
.projcard:nth-child(2n) .projcard-textbox::before {
  display: none;
}
.projcard-textbox::after {
  display: none;
  left: initial;
  right: -55px;
}
.projcard:nth-child(2n) .projcard-textbox::after {
  display: block;
}
.projcard-textbox * {
  position: relative;
}
.projcard-title {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  font-size: 18px;
}
.projcard-subtitle {
  font-family: 'Voces', 'Open Sans', arial, sans-serif;
  color: #888;
  font-size: 12;
  font-style: italic;
}
.projcard-bar {
  left: -2px;
  width: 50px;
  height: 5px;
  margin: 10px 0;
  border-radius: 5px;
  background-color: #424242;
  transition: width 0.2s ease;
}
.projcard-blue .projcard-bar { background-color: #0088FF; }
.projcard-blue::before { background-image: linear-gradient(-70deg, #0088FF, transparent 50%); }
.projcard-blue:nth-child(2n)::before { background-image: linear-gradient(-250deg, #0088FF, transparent 50%); }
.projcard-red .projcard-bar { background-color: #D62F1F; }
.projcard-red::before { background-image: linear-gradient(-70deg, #D62F1F, transparent 50%); }
.projcard-red:nth-child(2n)::before { background-image: linear-gradient(-250deg, #D62F1F, transparent 50%); }
.projcard-green .projcard-bar { background-color: #40BD00; }
.projcard-green::before { background-image: linear-gradient(-70deg, #40BD00, transparent 50%); }
.projcard-green:nth-child(2n)::before { background-image: linear-gradient(-250deg, #40BD00, transparent 50%); }
.projcard-yellow .projcard-bar { background-color: #F5AF41; }
.projcard-yellow::before { background-image: linear-gradient(-70deg, #F5AF41, transparent 50%); }
.projcard-yellow:nth-child(2n)::before { background-image: linear-gradient(-250deg, #F5AF41, transparent 50%); }
.projcard-orange .projcard-bar { background-color: #FF5722; }
.projcard-orange::before { background-image: linear-gradient(-70deg, #FF5722, transparent 50%); }
.projcard-orange:nth-child(2n)::before { background-image: linear-gradient(-250deg, #FF5722, transparent 50%); }
.projcard-brown .projcard-bar { background-color: #C49863; }
.projcard-brown::before { background-image: linear-gradient(-70deg, #C49863, transparent 50%); }
.projcard-brown:nth-child(2n)::before { background-image: linear-gradient(-250deg, #C49863, transparent 50%); }
.projcard-grey .projcard-bar { background-color: #424242; }
.projcard-grey::before { background-image: linear-gradient(-70deg, #424242, transparent 50%); }
.projcard-grey:nth-child(2n)::before { background-image: linear-gradient(-250deg, #424242, transparent 50%); }
.projcard-customcolor .projcard-bar { background-color: var(--projcard-color); }
.projcard-customcolor::before { background-image: linear-gradient(-70deg, var(--projcard-color), transparent 50%); }
.projcard-customcolor:nth-child(2n)::before { background-image: linear-gradient(-250deg, var(--projcard-color), transparent 50%); }
.projcard-description {
  z-index: 10;
  font-size: 12px;
  color: #424242;
  height: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.projcard-tagbox {
  position: absolute;
  bottom: 3%;
  font-size: 14px;
  cursor: default;
  user-select: none;
  pointer-events: none;
}
.projcard-tag {
  display: inline-block;
  background: #E0E0E0;
  color: #777;
  border-radius: 3px 0 0 3px;
  line-height: 26px;
  padding: 0 10px 0 23px;
  position: relative;
  margin-right: 20px;
  cursor: default;
  user-select: none;
  transition: color 0.2s;
}
.projcard-tag::before {
  content: '';
  position: absolute;
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  height: 6px;
  left: 10px;
  width: 6px;
  top: 10px;
}
.projcard-tag::after {
  content: '';
  position: absolute;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #E0E0E0;
  border-top: 13px solid transparent;
  right: -10px;
  top: 0;
}

.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
.custom-width-dialog {
  width: 80%; /* Adjust the width as needed */
  max-width: 100%; /* Ensure it doesn't exceed the viewport width */
  margin: 0 auto; /* Center the modal horizontally */
}
.form-container {
  max-width: 100%;
  overflow-x: auto;
}

/* For smaller screens, you can adjust the layout */
@media (max-width: 768px) {
  /* Adjust the layout for smaller screens */
  .form-group {
      width: 100%;
      margin-right: 0;
  }
}
.observationTable {
  position: relative;
}
.custom-dropdown {
  position: relative;
  display: inline-block;
  margin-bottom: 20px; /* Add space between dropdowns */
}

.custom-dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  padding-right: 25px; /* Adjust this value according to your design */
  width: 100%;
}

.arrow-down {
  position: absolute;
  top: 50%;
  right: 5px; /* Adjust this value to position the arrow horizontally */
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #000; /* Change the color here if needed */
}

.dropdown-label {
  display: block;
  margin-bottom: 5px; /* Add space between label and dropdown */
}

#history-logs {
  max-height: 400px;  /* Adjust the height as needed */
  overflow-y: auto;
}

#filterSection {
  text-align: center;
  margin-top: 20px;
}

.distress-checkbox-label {
  margin-right: 10px;
}

/* Add custom styling to center the checkboxes and heading */
#filterDistress {
  text-align: center;
  margin-bottom: 10px;
}
.distress-checkbox {
  margin-right: 10px;
}
#sortDate {
  text-align: center;
  margin-bottom: 10px;
}

#sortDate label,
#sortDate input {
  margin-right: 10px;
}

#sortButton {
  padding: 5px 10px;
  border: none;
  cursor: pointer;
  background-color: #6190E8;

}
#searchButton {
  border: 2px solid #6190E8; /* Set border color */
  cursor: pointer;
  background-color: white; /* Set background color to white */
  color: #6190E8; /* Set text color */
}
.info-button {
  position: relative;
  display: inline-block;
  margin-right: 20px; /* Add margin to create space */
}

.info-icon {
  display: inline-block;
  position: absolute;
  top: -20px; /* Adjust vertical position */
  right: -20px; /* Adjust horizontal position */
  width: 20px; /* Width and height for the circle */
  height: 20px;
  line-height: 20px; /* Center the question mark vertically */
  border-radius: 50%; /* Round shape for the circle */
  background-color: white; /* Circle background color */
  text-align: center;
  font-size: 14px; /* Adjust font size */
  cursor: pointer;
  border: 1px solid black; /* Border around the circle */
  color: black !important; /* Force the color to be black */
}

.info-content {
  display: none;
  position: absolute;
  top: calc(100% + 5px);
  right: 0;
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  z-index: 1;
}

.info-button:hover .info-content {
  display: block;
}

.info-content p {
  margin: 0;
}
#clearAllLogsButton {
  background-color: blue;
  color: white;
  border: 1px solid navy; /* Add a solid border */
  /* Additional styles */
}
.full-width-image {
  width: 100%; /* Occupy full container width */
  height: 100%; /* Occupy full container height */
  object-fit: cover; /* Maintain aspect ratio and fill container */
  border-radius: 10px; /* Ensure rounded corners */
  position: absolute; /* Position the image within the container */
  top: 0;
  left: 0;
}
.full-width-image2 {
  width: 100%; /* Occupy full container width */
  height: 100%; /* Occupy full container height */
  object-fit: cover; /* Maintain aspect ratio and fill container */
  border-radius: 10px; /* Ensure rounded corners */
  position: absolute; /* Position the image within the container */
  top: 0;
  left: 0;
}


.distress-count {
  font-size: 11px;
}


/*SMS STATUS STYLES HERE*/
.flash-message {
  animation: flash 1s infinite alternate;
}

@keyframes flash {
  from {
    opacity: 1;
  }
  to {
    opacity: 0.5;
  }
}

.elevated-container444 {
  /* Assuming this is your main container, add positioning styles */
  display: flex;
  flex-direction: column;
  align-items: center; /* Center horizontally */
  justify-content: center; /* Center vertically */
  height: 100vh; /* Set the height to fill the viewport */
}

.centered-status {
  /* Add specific styling for the SMS status */
  text-align: center;
  font-size: 20px;
  /* Add any other styling you need */
}


.cstm-height-card .card-img-top {
  height: 100px;
  object-fit: cover;
}




.total-distress-row {
  display: flex;
  justify-content: space-between;
}

.distress-card {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  width: 250px;
}


.distress-label {
  font-size: 11px;
  color: #333;
}

.distress-number {
  font-size: 20px;
  font-weight: bold;
  color: blue; /* or any other color you prefer for the numbers */
}

.back .backParagraph {
  font-weight: bold;
  color: #lightgrey;
  font-size: 10px;
  font-style: italic;
}

.button {
background-color: #1a43bf; 
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin-bottom: 10px;
}
