.wrapper {
  display: flex;
  width: 400px;
  height: 400px; /* Specify the height of the wrapper */
  margin: 50vh auto 0;
  flex-direction: column; /* Arrange items vertically */
  justify-content: flex-end; /* Align items at the bottom */
}

.switch_box {
  display: flex;
  max-width: 200px;
  min-width: 200px;
  height: 100px;
  justify-content: center;
  align-items: flex-end; /* Updated to align at the bottom */
  flex: 1;
  margin-top: 10px;
}

/* Switch 1 Specific Styles Start */

.box_1
input[type="checkbox"].switch_1{
  font-size: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 3.5em;
  height: 1.5em;
  background: #ddd;
  border-radius: 3em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  margin-top: auto;
  }
  
  input[type="checkbox"].switch_1:checked{
  background: #0ebeff;
  }
  
  input[type="checkbox"].switch_1:after{
  position: absolute;
  content: "";
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
          box-shadow: 0 0 .25em rgba(0,0,0,.3);
  -webkit-transform: scale(.7);
          transform: scale(.7);
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
  }
  
  input[type="checkbox"].switch_1:checked:after{
  left: calc(100% - 1.5em);
  }
  
/* Switch 1 Specific Style End */

/* Hide the default checkbox */
.distress-toggle {
  display: none;
}

/* Style for the toggle switch */
.distress-slider {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 30px;
  border-radius: 15px;
  background-color: #ccc;
  transition: background-color 0.4s;
}

.distress-slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  border-radius: 50%;
  transition: transform 0.4s;
}

/* Change background color when toggled */
.distress-toggle:checked + .distress-slider {
  background-color: #2196F3;
}

/* Move the slider when toggled */
.distress-toggle:checked + .distress-slider:before {
  transform: translateX(30px);
}
