<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chic Web App</title>
    <link rel="icon" href="{{ url_for('static', filename='chic_logo3.png', _external=True) }}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Coiny&family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>  
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>  
    
    

    <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}


    </style>
    </head>
  <!-- icons -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="{{ url_for('static', filename='chic_logo3.png', _external=True) }}" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">Chic</span>
          <span class="profession">Automated Bioacoustics</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">


        <ul class="menu-links">
          <li class="nav-link">
            <a href="{{ url_for('home') }}">
              <i class='bx bx-home-alt icon animated-icon black-icon'></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>


          <li class="nav-link">
            <a href="{{ url_for('history_logs') }}">
              <i class='bx bx-pie-chart-alt icon animated-icon black-icon'></i>
              <span class="text nav-text">History Logs</span>
            </a>
          </li>
    
          <li class="nav-link">
            <a href="{{ url_for('about') }}">
              <i class='bx bxs-folder-open icon animated-icon black-icon'></i>
              <span class="text nav-text">Distress Details</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="{{ url_for('observations') }}">
              <i class='bx bx-notepad icon animated-icon black-icon'></i>
              <span class="text nav-text">Observations</span>
            </a>
          </li>

 	 <li class="nav-link">
            <a href="{{ url_for('team') }}">
              <i class='bx bxs-user-circle icon animated-icon black-icon' ></i>
              <span class="text nav-text">About Us</span>
            </a>
          </li> 

        </div>
      </div>
    </nav>
  
  <section class="home">
    <a id="backtotopbutton"></a>
    <!-- Main Content -->

<div class="content">
  <div class="w3-container">
      <div class="container">
        <div class="main-content">
          <div class="w3-container" style="margin-top: 20px;">
            <div class="container">
              <div class="content" style="display: flex; justify-content: space-between;">
                <div class="w3-bar-item" style="color: rgb(0, 0, 0);">
                  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
                <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
                  <div class="section-title">
                    <h2>Distress Details</h2>
                </div>
              </div>
            </div>
          </div>
        </div>
          <p><span style="font-style: italic; color: black;">Understanding a chicken's situation is crucial for ensuring their well-being, safety, and productivity. It enables proactive care, timely intervention, and preventive measures, contributing to a harmonious and healthy flock. Knowledge of their environment, behavior, and social dynamics fosters responsible ownership, ethical treatment, and <b>sustainable practices</b>, ultimately enhancing the overall quality of life for these animals.</span></p>
      </div>
  </div>
</div>
</div>

<div class="elevated-container16">
<div class="projcard-container">

<div class="projcard projcard-blue">
<div class="projcard-innerbox">
<img class="projcard-img" src="https://qph.cf2.quoracdn.net/main-qimg-35e780628a0ad0c0adacd8b92c7d5d31" />
<div class="projcard-textbox">
<div class="projcard-title">Chicken is Disturbed.</div>
<div class="projcard-subtitle">Chickens can suffer from disturbances arising from various factors, including their environment, social interactions, and physiological conditions, which can adversely affect their well-being.</div>
<div class="projcard-bar"></div>
<div class="projcard-description"><li>Sudden changes, overcrowded living conditions, and disruptions in their social hierarchy can lead to stress and discomfort. Proper care, consistent environments, and proactive strategies are essential to alleviate distress. 
  Measures include minimizing abrupt changes, maintaining secure housing, enriching their surroundings, and responding promptly to signs of distress.
  By implementing these measures, chicken owners can create a harmonious and tranquil environment, promoting the overall contentment and welfare of their flock.</div>
</div>
</div>
</div>

<div class="projcard projcard-red">
<div class="projcard-innerbox">
<img class="projcard-img" src="https://fluxconsole.com/files/item/484/62722/Chicken-Predator-Coyote.jpg" />
<div class="projcard-textbox">
<div class="projcard-title">Chicken is in Danger.</div>
<div class="projcard-subtitle">Chickens are highly sensitive to threats and can feel distressed when faced with potential dangers.</div>
<div class="projcard-bar"></div>
<div class="projcard-description">Predators like foxes, hawks, and raccoons can evoke fear among chickens, even if not directly encountered.
  Quick movements or perceived threats from humans or other animals can trigger strong stress reactions in chickens, causing anxious behavior.
    To help chickens feel safer, provide secure housing, proper fencing, and effective predator management strategies to create a reassuring and protected environment.</div>
</div>
</div>
</div>

<div class="projcard projcard-green">
<div class="projcard-innerbox">
<img class="projcard-img" src="https://ogden_images.s3.amazonaws.com/www.iamcountryside.com/images/sites/3/2022/10/13162806/aggressive-rooster.jpg" />
<div class="projcard-textbox">
<div class="projcard-title">Chicken is Threatened.</div>
<div class="projcard-subtitle">Chickens are sensitive and can perceive threats, which trigger behavioral and physiological reactions.</div>
<div class="projcard-bar"></div>
<div class="projcard-description">Aggressive behavior among chickens, sudden disturbances, changes in routine, and living conditions can make them feel threatened. This stress affects their health, egg production, and social interactions. To address this, caregivers should maintain a calm environment, handle chickens properly, and provide enough space and resources. Social disruptions can be managed by separating aggressive individuals and offering distractions.
  Minimizing sudden disturbances, gradually introducing changes, and maintaining a consistent routine help chickens adapt. Providing comfort, shelter, and stability also enhance their well-being. By observing behavior and making adjustments, caregivers can create a reassuring environment and ensure the welfare of their chickens.</div>
</div>
</div>
</div>
</div>

</div>
<div class="container">
<div class="elevated-container25">
<div class="hover panel" onmouseover="javascript:this.className += ' flip';" onmouseout="javascript:this.className = 'hover panel';">
  <div class="front">
      <div class="frontTitle">
        SMS for Disturbed
      </div>
      <div class="frontLogo isas">
      </div>
      <div class="frontLocation">
        Disturbed Chicken
      </div>
  </div>
  <div class="back">
    <div class="backParagraph">
      Alert! Distress Detected at Microphone_1
      <br>
      CHICKEN IS DISTURBED.
      <br>
      <br>
      Note:
      <br> <br> 
      - Sudden changes, overcrowding, or social disruptions might be causing stress. 
      <br> <br>
      - Check the environment, ensure secure housing, and provide a calming atmosphere. 
      <br> <br> 

      Remember, maintaining consistency and addressing distress signs promptly leads to healthier and happier chickens.
      <br>
      Check them now!

    </div>
    <div class="backGoto">
    </div>
  </div>
</div>

<div class="hover panel" onmouseover="javascript:this.className += ' flip';" onmouseout="javascript:this.className = 'hover panel';">
  <div class="front">
      <div class="frontTitle">
        SMS for Danger
      </div>
      <div class="frontLogo boisedigital">
      </div>
      <div class="frontLocation">
        Chicken is in Danger
      </div>
  </div>
  <div class="back">
    <div class="backParagraph">
      Alert! Distress Detected at Microphone_2!
      <br>
      CHICKEN IS IN DANGER. 
      <br>
      <br>
      Note:
      <br> <br> 
      - Predators or sudden movements might be causing distress. 
      <br> <br>
      - Double-check your coop's security, reinforce fencing, and employ effective predator management. 
      <br> <br> 
      - A safe environment ensures your chickens' well-being. Act swiftly to prevent harm. 
      <br> <br>
      Act swiftly to prevent harm
      <br>
      Check them now!
    </div>
    <div class="backGoto">
    </div>
  </div>
</div>

<div class="hover panel" onmouseover="javascript:this.className += ' flip';" onmouseout="javascript:this.className = 'hover panel';">
  <div class="front">
      <div class="frontTitle">
        SMS for Threatened
      </div>
      <div class="frontLogo dissolve">
      </div>
      <div class="frontLocation">
        Threatened Chicken
      </div>
  </div>
  <div class="back">
    <div class="backParagraph">
      Alert! Distress Detected at Microphone_2!
      <br>
      CHICKEN IS THREATENED. 
      <br>
      Note:
      <br>
      - Aggressive behavior, disruptions, or changes in routine may be causing stress.
      <br> <br>
      - Provide a calm space, handle them gently, and ensure ample space and resources.
      <br> <br>
      - Manage aggressive individuals, offer distractions, and maintain stability.
      <br> <br>
      Observing and adapting are key to their comfort.
      <br>
      Check them now!
    <div class="backGoto">
    </div>
  </div>
  </div>
</div>
</div>
</div>
<footer class="footer">
  <p>&copy; Automated Bioacoustics: Recognition of Chicken Distress Vocalizations 2023 All rights reserved.</p>
</footer>
</section>
<script>
  const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    searchBtn = body.querySelector(".search-box"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");
  toggle.addEventListener("click", () => {
    sidebar.classList.toggle("close");
  })
</script>

<script>
  document.querySelectorAll(".projcard-description").forEach(function(box) {
  $clamp(box, {clamp: 6});
  });</script>
  
    
  <!-- JavaScript Imports -->
<script src="{{ url_for('static', filename='js/backtotopbutton.js') }}"></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>


</body>
</html>
