<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chic Web App</title>
    <link rel="icon" href="{{ url_for('static', filename='chic_logo3.png', _external=True) }}" type="image/png">
    <!-- External CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/note.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- External Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Coiny&family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

    <!-- External JavaScript Libraries -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.socket.io/4.0.1/socket.io.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js"></script>
    <script src="https://d3js.org/d3.v3.min.js"></script>


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<!-- Bootstrap Datepicker CSS and JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

    
    <script src= "https://cdn.zingchart.com/zingchart.min.js"></script>
    <script> zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
      ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9","ee6b7db5b51705a13dc2339db3edaf6d"];</script>

  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="{{ url_for('static', filename='chic_logo3.png', _external=True) }}" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">Chic</span>
          <span class="profession">Automated Bioacoustics</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">


        <ul class="menu-links">
          <li class="nav-link">
            <a href="{{ url_for('home') }}">
              <i class='bx bx-home-alt icon animated-icon black-icon'></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>


          <li class="nav-link">
            <a href="{{ url_for('history_logs') }}">
              <i class='bx bx-pie-chart-alt icon animated-icon black-icon'></i>
              <span class="text nav-text">History Logs</span>
            </a>
          </li>
    
          <li class="nav-link">
            <a href="{{ url_for('about') }}">
              <i class='bx bxs-folder-open icon animated-icon black-icon'></i>
              <span class="text nav-text">Distress Details</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="{{ url_for('observations') }}">
              <i class='bx bx-notepad icon animated-icon black-icon'></i>
              <span class="text nav-text">Observations</span>
            </a>
          </li>

 	 <li class="nav-link">
            <a href="{{ url_for('team') }}">
              <i class='bx bxs-user-circle icon animated-icon black-icon' ></i>
              <span class="text nav-text">About Us</span>
            </a>
          </li> 

        </div>
      </div>
    </nav>

<section class="home">
	<a id="backtotopbutton"></a>
	<!-- Main Content -->
  <div class="w3-container" style="margin-top: 20px;">
        <div class="container">
          <div class="content" style="display: flex; justify-content: space-between;">
            <div class="w3-bar-item" style="color: rgb(0, 0, 0);">
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
              <div class="section-title">
                <h2>Dashboard</h2>
            </div>
          </div>
        <!-- Welcome Message and Logout Button -->
        <div class="w3-twothird">
          <div class="container-wrapper">
              <div class="elevated-container30">
                  <div class="welcome-logout" style="display: flex; align-items: center;">
                      <div class="user-photo"></div>
                      <h3 class="welcome-text">Welcome, {{ current_user.id }}!</h3>
                      <a href="{{ url_for('logout') }}" class="logout-link" style="background-color: #5282da; color: white; border-radius: 10px; padding: 5px 10px; text-decoration: none;" onclick="return confirmLogout()">Logout</a>
                  </div>
              </div>
          </div>
      </div>
    </div>
        <script>
          function confirmLogout() {
              var confirmation = confirm("Are you sure you want to logout?");
              if (confirmation) {
                  window.location.href = "{{ url_for('logout') }}"; // Redirect to logout only if confirmed
              } 
              // If the user clicks Cancel, return false to prevent the default action
              return false;
          }
        </script>
        <div class="w3-twothird">
          <div class="container-wrapper">
              <div class="elevated-container31">
              </div> 
            </div>
          </div>
        <div class="w3-twothird">
          <div class="container-wrapper">
              <div class="elevated-container10">
                  <img src="{{ url_for('static', filename='banner.svg', _external=True) }}" class="full-width-image" alt="Your Image">
                  <!-- Other content here if needed -->
              </div>
            </div>
              <div class="w3-third">
                <div class="elevated-container1">
                  <div class="info-button">
                    <span class="info-icon"> i </span>
                    <div class="info-content">
                      <p>This will show a pie chart of every distress calls captured and their overall total.</p>
                    </div>
                  </div>
                  <h5>General Distress Proportion</h5>
                  <canvas id="pieChart" width="300" height="300"></canvas>
                  <hr>
                  <!-- Display the total distress values -->
                  <h6>Total Distress Counts</h6>
                  <div id="totalDistressRow" class="total-distress-row"></div>
                </div>
              </div>
                <div class="w3-twothird">
                    <div class="elevated-container12">
                      <div class="info-button">
                        <span class="info-icon"> i </span>
                        <div class="info-content">
                          <p>This is your information content. You can add details here.</p>
                        </div>
                      </div>
                      <h5>Specific Distress Detection Rates per Cage</h5>
                  <hr>
                      <!-- Title and canvas for Cage 1 -->
                      <div>
                        <h6>Distress Detected on Cage 1</h6>
                        <canvas id="HorizontalBarGraph_microphone_microphone_1" width="600" height="130"></canvas>
                      </div>
                  <hr>
                      <!-- Title and canvas for Cage 2 -->
                      <div>
                        <h6>Distress Detected on Cage 2</h6>
                        <canvas id="HorizontalBarGraph_microphone_microphone_2" width="600" height="130"></canvas>
                      </div>
                      <hr>
                    </div>
                  </div>
                  <div class="w3-third">
                    <div class="elevated-container33">
                      <h5><u>Disturbed</u></h5>
                    </div>
                  </div>
                <div class="w3-third">
                  <div class="elevated-container34">
                    <h5><u>Threatened</u></h5>
                  </div>
                </div>
              <div class="w3-third">
                <div class="elevated-container35">
                  <h5><u>Danger</u></h5>
                </div>
              </div>
                  <div class="w3-twothird">
                    <div class="container-wrapper">
                        <div class="elevated-container21">
                            <img src="{{ url_for('static', filename='banner2.svg', _external=True) }}" class="full-width-image2" alt="Your Image">
                            <!-- Other content here if needed -->
                        </div>
                      </div>
                    </div>
                    <div class="w3-container">
                      <div class="elevated-container2">
                        <div class="elevated-container4">
                          <div class="info-button">
                            <span class="info-icon"> i </span>
                            <div class="info-content">
                              <p>This is your information content. You can add details here.</p>
                            </div>
                          </div>
                          <div id="sms_status" class="centered-status"></div>
                        </div>
                      </div>
                    </div>
                      <div class="w3-container">
                          <div class="elevated-container2">
                              <div class="w3-half">
                                  <div class="elevated-container4">
                                    <div class="info-button">
                                      <span class="info-icon"> i </span>
                                      <div class="info-content">
                                        <p>This is your information content. You can add details here.</p>
                                      </div>
                                    </div>
                                      <h3>CAGE 1</h3>
                                      <h3 style="font-size: medium;">Current Chicken Status:</h3>
                                      <div id="prediction_microphone_1" style="font-size: 18px; font-weight: bold; color: red; margin-top: 10px;">Loading...</div>
                                      <a href="{{ url_for('about') }}" style="margin-top: 10px; background-color: #3498db; color: #fff; padding: 8px 15px; text-decoration: none; border-radius: 5px; display: inline-block; margin-left: auto;">
                                        Learn More
                                        <span style="margin-left: 5px;">&rarr;</span>
                                      </a>
                                    </div>
                              </div>
                              <div class="w3-half">
                                  <div class="elevated-container5">
                                    <div class="info-button">
                                      <span class="info-icon"> i </span>
                                      <div class="info-content">
                                        <p>This is your information content. You can add details here.</p>
                                      </div>
                                    </div>
                                      <h3>CAGE 2</h3>
                                      <h3 style="font-size: medium;">Current Chicken Status:</h3>
                                      <div id="prediction_microphone_2" style="font-size: 18px; font-weight: bold; color: red; margin-top: 10px;">Loading...</div>
                                      <a href="{{ url_for('about') }}" style="margin-top: 10px; background-color: #3498db; color: #fff; padding: 8px 15px; text-decoration: none; border-radius: 5px; display: inline-block; margin-left: auto;">
                                        Learn More
                                        <span style="margin-left: 5px;">&rarr;</span>
                                      </a>
                                    </div>
                              </div>
                          </div>
                      </div>
            
                      <div class="w3-half">
                          <div class="elevated-container6">
                              <h2>Cage 1 Audio Analysis</h2>
                              <div class="canvas-container">
                                <hr>
                                <div id="waveform_microphone_1" style="width: 500px; height: 350px;"></div>
                                <hr>
                                <div id="spectrogram_microphone_1" style="width: 500px; height: 350px;"></div>
                                <hr>
                                <div id="mfcc_microphone_1" style="width: 500px; height: 350px;"></div>
                              </div>
                          </div>
                      </div>
                      <div class="w3-half">
                          <div class="elevated-container7">
                              <h2>Cage 2 Audio Analysis</h2>
                              <div class="canvas-container">
                                <hr>
                                <div id="waveform_microphone_2" style="width: 500px; height: 350px;"></div>
                                <hr>
                                <div id="spectrogram_microphone_2" style="width: 500px; height: 350px;"></div>
                                <hr>
                                <div id="mfcc_microphone_2" style="width: 500px; height: 350px;"></div>
                              </div>
                              </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          <footer class="footer">
            <p>&copy; Automated Bioacoustics: Recognition of Chicken Distress Vocalizations 2023 All rights reserved.</p>
          </footer>
  </section>

<script>
    const body = document.querySelector('body'),
      sidebar = body.querySelector('nav'),
      toggle = body.querySelector(".toggle"),
      searchBtn = body.querySelector(".search-box"),
      modeSwitch = body.querySelector(".toggle-switch"),
      modeText = body.querySelector(".mode-text");
    toggle.addEventListener("click", () => {
      sidebar.classList.toggle("close");
    })
  </script>

</body>
    
<!-- JavaScript Imports -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/backtotopbutton.js') }}"></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/analytics.js') }}"></script>
</html>