<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chic Web App</title>
    <link rel="icon" href="{{ url_for('static', filename=' chic_logo3.png', _external=True) }}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Coiny&family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> 
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>   
    </head>
  <!-- icons -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="{{ url_for('static', filename='chic_logo3.png', _external=True) }}" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">Chic</span>
          <span class="profession">Automated Bioacoustics</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">


        <ul class="menu-links">
          <li class="nav-link">
            <a href="{{ url_for('home') }}">
              <i class='bx bx-home-alt icon animated-icon black-icon'></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>


          <li class="nav-link">
            <a href="{{ url_for('history_logs') }}">
              <i class='bx bx-pie-chart-alt icon animated-icon black-icon'></i>
              <span class="text nav-text">History Logs</span>
            </a>
          </li>
    
          <li class="nav-link">
            <a href="{{ url_for('about') }}">
              <i class='bx bxs-folder-open icon animated-icon black-icon'></i>
              <span class="text nav-text">Distress Details</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="{{ url_for('observations') }}">
              <i class='bx bx-notepad icon animated-icon black-icon'></i>
              <span class="text nav-text">Observations</span>
            </a>
          </li>

 	 <li class="nav-link">
            <a href="{{ url_for('team') }}">
              <i class='bx bxs-user-circle icon animated-icon black-icon' ></i>
              <span class="text nav-text">About Us</span>
            </a>
          </li> 

        </div>
      </div>
    </nav>
  
  <section class="home">
    <a id="backtotopbutton"></a>
    <!-- Main Content -->
  <div class="main-content">
  <span class="w3-bar-item" style="color: rgb(0, 0, 0)";>
    <div class="main-content">
      <div class="w3-container" style="margin-top: 20px;">
        <div class="container">
          <div class="content" style="display: flex; justify-content: space-between;">
            <div class="w3-bar-item" style="color: rgb(0, 0, 0);">
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
            <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
              <div class="section-title">
                <h2>History Logs</h2>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="w3-container">
      <div class="elevated-container audio-analysis-container">
        <div class="elevated-container audio-analysis-sub-subcontainer">
      <form class="d-flex" id="searchForm">
          <input class="form-control me-2 rounded-pill" type="search" id="search-input" placeholder="Search" aria-label="Search">
          <button id="searchButton" class="btn btn-outline-danger rounded-pill" type="submit">Search</button>
      </form>
    <!-- Add the filter section -->
    <div id="filterSection">
      <p>Filter Records by Distress Type: </p>
      <label class="distress-checkbox-label"><input type="checkbox" class="distress-checkbox" value="Chicken is Disturbed" checked> Chicken is Disturbed</label>
      <label class="distress-checkbox-label"><input type="checkbox" class="distress-checkbox" value="Chicken is in Danger" checked> Chicken is in Danger</label>
      <label class="distress-checkbox-label"><input type="checkbox" class="distress-checkbox" value="Chicken is Threatened" checked> Chicken is Threatened</label>
  </div>

  <div id="sortDate">
    <strong>Sort by date:</strong>
    <label for="fromDate">From:</label>
    <input type="date" id="fromDate" name="from_date" required>
    <label for="toDate">To:</label>
    <input type="date" id="toDate" name="to_date" required>
    <button id="sortButton" class="btn btn-danger btn-primary" onclick="sortRecords()">Sort</button>
</div>

    <table id="history-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>DateTime</th>
                <th>Distress Type</th>
                <th>Microphone Number</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody id="history-logs"></tbody>
    </table>
    <div class="d-flex justify-content-center">
      <button type="button" class="btn btn-primary" id="clearAllLogsButton">Clear All Logs</button>
    </div>
    
<!-- Bootstrap Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="confirmationModalLabel">Confirmation</h5>
        <button type="button" class="btn-close" aria-label="Close" id="cancelModalBtn"></button>
      </div>
      <div class="modal-body">
        Are you sure you want to clear all logs?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" id="cancelBtn">Cancel</button>
        <button type="button" class="btn btn-danger" id="confirmClearBtn">Confirm</button>
      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>
</div>
</div>
<footer class="footer">
<p>&copy; Automated Bioacoustics: Recognition of Chicken Distress Vocalizations 2023 All rights reserved.</p>
</footer>
</section>
<script>
const body = document.querySelector('body'),
sidebar = body.querySelector('nav'),
toggle = body.querySelector(".toggle"),
searchBtn = body.querySelector(".search-box"),
modeSwitch = body.querySelector(".toggle-switch"),
modeText = body.querySelector(".mode-text");
toggle.addEventListener("click", () => {
sidebar.classList.toggle("close");
})
</script>
<script>
document.addEventListener("DOMContentLoaded", function() {
const clearAllLogsBtn = document.getElementById('clearAllLogsButton');
const confirmationModal = new bootstrap.Modal(document.getElementById('confirmationModal'));
const confirmClearBtn = document.getElementById('confirmClearBtn');
const cancelBtn = document.getElementById('cancelBtn');

clearAllLogsBtn.addEventListener('click', function() {
  confirmationModal.show();
});

confirmClearBtn.addEventListener('click', function() {

  // Close the modal after performing the action
  confirmationModal.hide();  
});

cancelBtn.addEventListener('click', function() {
  // Add any additional logic for the Cancel button if needed
  confirmationModal.hide();
});
});
</script>
    
    </div>
<!-- JavaScript Imports -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/backtotopbutton.js') }}"></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>
<script src="{{ url_for('static', filename='js/historylogs.js') }}"></script>

</body>
</html>