<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chic Web App</title>
    <!-- Custom CSS File -->
    <link rel="icon" href="{{ url_for('static', filename='chic_logo3.png', _external=True) }}" type="image/png">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
</head>

<body>
    <div class="container" style="text-align: center;">
        <div class="login form">
            <img src="{{ url_for('static', filename='chic_logo3.png', _external=True) }}" alt="" style="width: 100px; height: 100px;">
            <header>Login</header>
            <form action="{{ url_for('login') }}" method="post" onsubmit="redirectToDashboard()">
                {{ form.hidden_tag() }}
                <input type="text" name="username" placeholder="Enter your username" required>
                <div style="position: relative;">
                    <input type="password" name="password" id="password" placeholder="Enter your password" required>
                </div>
                <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 10px;">
                    <label style="font-size: 14px;">
                        <input type="checkbox" onclick="togglePasswordVisibility()" style="width: 15px; height: 15px;"> Show Password
                    </label>
                </div>
                <input type="submit" class="button" value="Login">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert">
                            {{ messages[0] }}
                        </div>
                    {% endif %}
                {% endwith %}
            </form>
        </div>
        <div class="image"></div>
    </div>

    <script>
        function redirectToDashboard() {
            window.location.href = "{{ url_for('dashboard') }}";
        }

        function togglePasswordVisibility() {
            var passwordInput = document.getElementById('password');
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        }
    </script>
</body>

</html>
