<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chic Web App</title>
    <link rel="icon" href="{{ url_for('static', filename='chic_logo3.png', _external=True) }}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Coiny&family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script> 
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>  

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<!-- Bootstrap Datepicker CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">

<!-- Bootstrap Timepicker CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/css/bootstrap-timepicker.min.css">

 <!-- Bootstrap JS and Popper.js -->
<!-- Popper.js -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

 <!-- Bootstrap Datepicker JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>

 <!-- Bootstrap Timepicker JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-timepicker/0.5.2/js/bootstrap-timepicker.min.js"></script>


    
    <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}


    </style>
    </head>
  <!-- icons -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  </head>

<body>
  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="{{ url_for('static', filename='chic_logo3.png', _external=True) }}" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">Chic</span>
          <span class="profession">Automated Bioacoustics</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">


        <ul class="menu-links">
          <li class="nav-link">
            <a href="{{ url_for('home') }}">
              <i class='bx bx-home-alt icon animated-icon black-icon'></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>


          <li class="nav-link">
            <a href="{{ url_for('history_logs') }}">
              <i class='bx bx-pie-chart-alt icon animated-icon black-icon'></i>
              <span class="text nav-text">History Logs</span>
            </a>
          </li>
    
          <li class="nav-link">
            <a href="{{ url_for('about') }}">
              <i class='bx bxs-folder-open icon animated-icon black-icon'></i>
              <span class="text nav-text">Distress Details</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="{{ url_for('observations') }}">
              <i class='bx bx-notepad icon animated-icon black-icon'></i>
              <span class="text nav-text">Observations</span>
            </a>
          </li>

 	 <li class="nav-link">
            <a href="{{ url_for('team') }}">
              <i class='bx bxs-user-circle icon animated-icon black-icon' ></i>
              <span class="text nav-text">About Us</span>
            </a>
          </li> 

        </div>
      </div>
    </nav>
  
  <section class="home">
    <a id="backtotopbutton"></a>
    <!-- Main Content -->
  <div class="main-content">
    <div class="w3-container" style="margin-top: 20px;">
      <div class="container">
        <div class="content" style="display: flex; justify-content: space-between;">
          <div class="w3-bar-item" style="color: rgb(0, 0, 0);">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
            <div class="section-title">
              <h2>Chicken Physical Observation</h2>
          </div>
        </div>
      </div>
    </div>
  </div>
        <div id="datetime"></div>


    <div class="w3-panel">
    
                      <div id="observationModal" class="modal" tabindex="-1" role="dialog">
                        <div class="custom-width-dialog" role="document">
                              <div class="modal-content">
                                  <div class="modal-header">
                                      <h5 class="modal-title">Add Observation</h5>
                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                      </button>
                                  </div>
                                  <form id="observationForm">
                                      <div class="modal-body">
                                          <h1>CHICKEN PHYSICAL OBSERVATION FORM</h1>
                                          <!-- Observer Information -->
                                          <h2>Primary Information:</h2>
                                          <div class="form-row">
                                            <div class="form-group col-md-3">
                                              <label for="date">Date:</label>
                                              <input type="text" id="date" name="date" class="form-control" required>
                                          </div>
                                          <div class="form-group col-md-3">
                                              <label for="time">Time:</label>
                                              <input type="text" id="time" name="time" class="form-control" required>
                                          </div>
                                          <div class="form-group col-md-2">
                                              <label for="location">Cage Location:</label>
                                              <input type="text" id="location" name="location" class="form-control" required>
                                          </div>
                                          <div class="form-group col-md-3">
                                            <label for="observerName">Observer:</label>
                                            <input type="text" id="observerName" name="observerName" class="form-control" required>
                                        </div>
                                      </div>

                                        <h2>Chicken Identification:</h2>
                                        <div class="form-row">
                                          <div class="form-group col-md-3">
                                        <label for="chickenName">Chicken ID/Name:</label>
                                        <input type="text" id="chickenName" name="chickenName" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-2">
                                      <label for="breed">Breed:</label>
                                      <input type="text" id="breed" name="breed" class="form-control" required>
                                  </div>
                                  <div class="form-group col-md-1">
                                    <label for="age">Age:</label>
                                    <input type="text" id="age" name="age" class="form-control" required>
                                </div>
                                <div class="form-group col-md-2">
                                  <label for="color">Color/Markings:</label>
                                  <input type="text" id="color" name="color" class="form-control" required>
                              </div>
                              <div class="form-group col-md-2">
                                <label for="generalAppearance">General Appearance</label>
                                <input type="text" id="generalAppearance" name="generalAppearance" class="form-control" required>
                            </div>
                                        <div class="form-group col-md-2">
                                          <label for="comb">Comb</label>
                                          <input type="text" id="comb" name="comb" class="form-control" required>
                                      </div>
                                      <div class="form-group col-md-2">
                                        <label for="wattles">Wattles</label>
                                        <input type="text" id="wattles" name="wattles" class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-2">
                                      <label for="beak">Beak:</label>
                                      <div class="custom-dropdown">
                                          <select class="form-control" id="beak" name="beak">
                                              <option value="beakNone">None</option>
                                              <option value="intact">Intact</option>
                                              <option value="discoloration">Discoloration</option>
                                              <option value="injury">Injury</option>
                                          </select>
                                          <div class="arrow-down"></div>
                                      </div>
                                  </div>
                                  
                                  <div class="form-group col-md-2">
                                      <label for="eyes" class="dropdown-label">Eyes:</label>
                                      <div class="custom-dropdown">
                                          <select class="form-control" id="eyes" name="eyes">
                                              <option value="none">None</option>
                                              <option value="clear">Clear</option>
                                              <option value="cloudy">Cloudy</option>
                                              <option value="eyeDischarge">Discharge</option>
                                          </select>
                                          <div class="arrow-down"></div>
                                      </div>
                                  </div>
                                  
                                  <div class="form-group col-md-2">
                                      <label for="nostrils" class="dropdown-label">Nostrils:</label>
                                      <div class="custom-dropdown">
                                          <select class="form-control" id="nostrils" name="nostrils">
                                              <option value="none">None</option>
                                              <option value="clear">Clear</option>
                                              <option value="discharge">Discharge</option>
                                          </select>
                                          <div class="arrow-down"></div>
                                      </div>
                                  </div>
                                  
                                  <div class="form-group col-md-2">
                                      <label for="legsFeet">Legs/Feet:</label>
                                      <div class="custom-dropdown">
                                          <select class="form-control" id="legsFeet" name="legsFeet">
                                              <option value="none">None</option>
                                              <option value="scales">Scales</option>
                                              <option value="spur">Spur Development</option>
                                              <option value="deformities">Deformities</option>
                                          </select>
                                          <div class="arrow-down"></div>
                                      </div>
                                  </div>
                              </div>
                                

                                <h2>Health Observations:</h2>
                                <div class="form-row">
                                  <div class="form-group col-md-2">
                                    <label for="activity" class="dropdown-label">Activity Level:</label>
                                    <div class="custom-dropdown">
                                        <select class="form-control" id="activity" name="activity">
                                            <option value="none">None</option>
                                            <option value="active">Active</option>
                                            <option value="lethargic">Lethargic</option>
                                            <option value="normal">Normal</option>
                                        </select>
                                        <div class="arrow-down"></div>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-2">
                                    <label for="foragingBehavior" class="dropdown-label">Foraging Behavior:</label>
                                    <div class="custom-dropdown">
                                        <select class="form-control" id="foragingBehavior" name="foragingBehavior">
                                            <option value="none">None</option>
                                            <option value="normal">Normal</option>
                                            <option value="decreased">Decreased</option>
                                            <option value="increased">Increased</option>
                                        </select>
                                        <div class="arrow-down"></div>
                                    </div>
                                </div>
                                
                                <div class="form-group col-md-2">
                                    <label for="eatingDrinking" class="dropdown-label">Eating/Drinking:</label>
                                    <div class="custom-dropdown">
                                        <select class="form-control" id="eatingDrinking" name="eatingDrinking">
                                            <option value="none">None</option>
                                            <option value="normal">Normal</option>
                                            <option value="decreased">Decreased</option>
                                            <option value="increased">Increased</option>
                                        </select>
                                        <div class="arrow-down"></div>
                                    </div>
                                </div>                                
                          <div class="form-group col-md-2">
                            <label for="respiratoryRate">Respiratory Rate</label>
                            <input type="text" id="respiratoryRate" name="respiratoryRate" class="form-control" required>
                        </div>
                        <div class="form-group col-md-2">
                          <label for="abnormalDischarges" class="dropdown-label">Abnormal Discharges:</label>
                          <div class="custom-dropdown">
                              <select class="form-control" id="abnormalDischarges" name="abnormalDischarges">
                                  <option value="yes">Yes</option>
                                  <option value="no">No</option>
                              </select>
                              <div class="arrow-down"></div>
                          </div>
                      </div>
                      
                      <div class="form-group col-md-2">
                          <label for="signsOfInjuryIllness" class="dropdown-label">Signs of Injury/Illness:</label>
                          <div class="custom-dropdown">
                              <select class="form-control" id="signsOfInjuryIllness" name="signsOfInjuryIllness">
                                  <option value="yes">Yes</option>
                                  <option value="no">No</option>
                              </select>
                              <div class="arrow-down"></div>
                          </div>
                      </div>
                      
                      <div class="form-group col-md-1">
                          <label for="parasites" class="dropdown-label">Parasites:</label>
                          <div class="custom-dropdown">
                              <select class="form-control" id="parasites" name="parasites">
                                  <option value="none">None</option>
                                  <option value="lice">Lice</option>
                                  <option value="mites">Mites</option>
                              </select>
                              <div class="arrow-down"></div>
                          </div>
                      </div>
                      
                      <div class="form-group col-md-2">
                          <label for="eggProduction" class="dropdown-label">Egg Production:</label>
                          <div class="custom-dropdown">
                              <select class="form-control" id="eggProduction" name="eggProduction">
                                  <option value="ifApplicable">If Applicable</option>
                                  <option value="normal">Normal</option>
                                  <option value="decreased">Decreased</option>
                                  <option value="increased">Increased</option>
                              </select>
                              <div class="arrow-down"></div>
                          </div>
                      </div>   
                    </div>                   
                                          <!-- Additional Notes -->
                                            <div class="form-group1">
                                              <label for="additionalNotes">Additional Notes:</label>
                                              <textarea id="additionalNotes" name="additionalNotes" class="form-control"></textarea>
                                          </div>
                                      </div>
                                      <div class="modal-footer">
                                          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                          <button type="submit" class="btn btn-primary">Save</button>
                                      </div>
                                  </form>
                              </div>
                          </div>
                      </div>
          
          <div class="w3-container">
            <div class="elevated-container audio-analysis-container">
          <!-- Table to display observations -->
          <div style="display: flex; justify-content: space-between; align-items: center;">
            <h3 style="color: rgba(0, 0, 0, 0.767); font-family: 'San Francisco', sans-serif; font-weight: bold; margin-top: 20px;">Observation Records</h3>
            <button style="background-color: #6190E8; color: white; border-radius: 5px; padding: 10px 20px;" class="observation_button" id="observation_button">Add Observation</button>
        </div>

          <div style="max-height: 1500px; max-width: 3000px; overflow: auto;">
              <input class="form-control me-2 rounded-pill" type="search" id="searchBar" placeholder="Search" aria-label="Search">
              <table id="observationTable" class="table">
            <thead>
                <tr>
                    <th>Observer Name</th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Cage Location</th>
                    <th>Chicken ID/Name</th>
                    <th>Breed</th>
                    <th>Age</th>
                    <th>Color/Markings</th>
                    <th>General Appearance</th>
                    <th>Comb</th>
                    <th>Wattles</th>
                    <th>Beak</th>
                    <th>Eyes</th>
                    <th>Nostrils</th>
                    <th>Legs/Feet</th>
                    <th>Activity Level</th>
                    <th>Foraging Behavior</th>
                    <th>Eating/Drinking</th>
                    <th>Respiratory Rate</th>
                    <th>Abnormal Discharges</th>
                    <th>Signs of Injury/Illness</th>
                    <th>Parasites</th>
                    <th>Egg Production</th>
                    <th>Additional Notes</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <!-- Table rows will be dynamically added here -->
            </tbody>
        </table>        
            </div>
        </div>
        </div>
        </div>
      </div>
    </div>
    <footer class="footer">
      <p>&copy; Automated Bioacoustics: Recognition of Chicken Distress Vocalizations 2023 All rights reserved.</p>
    </footer>
</section>
    <script>
      const body = document.querySelector('body'),
        sidebar = body.querySelector('nav'),
        toggle = body.querySelector(".toggle"),
        searchBtn = body.querySelector(".search-box"),
        modeSwitch = body.querySelector(".toggle-switch"),
        modeText = body.querySelector(".mode-text");
      toggle.addEventListener("click", () => {
        sidebar.classList.toggle("close");
      })
    </script>


</div>


  <!-- JavaScript Imports -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/backtotopbutton.js') }}"></script>
<script src="{{ url_for('static', filename='js/calendar.js') }}"></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>

</body>
</html>
