<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chic Web App</title>
    <link rel="icon" href="{{ url_for('static', filename='chic_logo3.png', _external=True) }}" type="image/png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Coiny&family=Nunito:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather:400,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet"> 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/toggle.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/icons.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/team.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.3.1/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullcalendar/3.10.2/fullcalendar.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>  
    <script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>  
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    

    <style>
    html,body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}


    </style>
    </head>
  <!-- icons -->
  <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <nav class="sidebar close">
    <header>
      <div class="image-text">
        <span class="image">
          <img src="{{ url_for('static', filename='chic_logo3.png', _external=True) }}" alt="">
        </span>

        <div class="text logo-text">
          <span class="name">Chic</span>
          <span class="profession">Automated Bioacoustics</span>
        </div>
      </div>

      <i class='bx bx-chevron-right toggle'></i>
    </header>

    <div class="menu-bar">
      <div class="menu">


        <ul class="menu-links">
          <li class="nav-link">
            <a href="{{ url_for('home') }}">
              <i class='bx bx-home-alt icon animated-icon black-icon'></i>
              <span class="text nav-text">Dashboard</span>
            </a>
          </li>


          <li class="nav-link">
            <a href="{{ url_for('history_logs') }}">
              <i class='bx bx-pie-chart-alt icon animated-icon black-icon'></i>
              <span class="text nav-text">History Logs</span>
            </a>
          </li>
    
          <li class="nav-link">
            <a href="{{ url_for('about') }}">
              <i class='bx bxs-folder-open icon animated-icon black-icon'></i>
              <span class="text nav-text">Distress Details</span>
            </a>
          </li>

          <li class="nav-link">
            <a href="{{ url_for('observations') }}">
              <i class='bx bx-notepad icon animated-icon black-icon'></i>
              <span class="text nav-text">Observations</span>
            </a>
          </li>

 	 <li class="nav-link">
            <a href="{{ url_for('team') }}">
              <i class='bx bxs-user-circle icon animated-icon black-icon' ></i>
              <span class="text nav-text">About Us</span>
            </a>
          </li> 

        </div>
      </div>
    </nav>
  
  <section class="home">
    <a id="backtotopbutton"></a>
    <!-- Main Content -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap">
    <div class="section-title">
      <h2>Team</h2>
      <p>As a cohesive unit, our team created the thesis "Automated Bioacoustics: Recognition of Chicken Distress Vocalizations." Pooling our skills, we devised an innovative system that identifies and comprehends distress calls in chickens. This work embodies our joint dedication to merging technology and compassion for the betterment of animal welfare.</p>
    </div>
    <div class="team-section">
      <div class="team-member">
        <img src="https://scontent.fceb2-2.fna.fbcdn.net/v/t1.15752-9/411271090_882742756730832_3701313667846715297_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=8cd0a2&_nc_eui2=AeHYbkqGLPTPP_8DuorwH5fHBiqLWUN02MoGKotZQ3TYypQ76BTPwstTg3k8RygvvrRojQTXwzpWFwpuW5vO8leW&_nc_ohc=EQg325E-n_QAX-xlCwn&_nc_ht=scontent.fceb2-2.fna&oh=03_AdSudIFDHKTSRJ2ZhsPk1i3dnsEwSvEGAspNSlIsRfkvmA&oe=65BD189C" alt="Team Member 1">
        <h3>Anie Fred C. Bayag</h3>
        <p class="role">Leader & Back-end Programmer</p>
        <a href="https://www.facebook.com/aniefred.bayag"><i class='bx bxl-facebook-square'></i> </a>
      </div>
      <div class="team-member">
        <img src="https://scontent.fceb2-1.fna.fbcdn.net/v/t1.6435-9/76997209_2485270571798825_832046769960386560_n.jpg?_nc_cat=106&ccb=1-7&_nc_sid=7a1959&_nc_eui2=AeETQueN0zUzRSOaOpVFt-BCW4iTFS5ip5hbiJMVLmKnmHBVIU-H8UupVE0CJOjBQXz4nUkhEc9rU9As5SAZxXQV&_nc_ohc=L0ZWVjEJx14AX8kiYzJ&_nc_ht=scontent.fceb2-1.fna&oh=00_AfCs-WlrW7cfQnwaQ0si62WqyYujliYsbVjuCemh9VMwgA&oe=65BD0128" alt="Team Member 2">
        <h3>Rey Salde L. De La Cruz</h3>
        <p class="role">Front-end Programmer</p>
        <a href="https://www.facebook.com/profile.php?id=100009477181908"><i class='bx bxl-facebook-square'></i> </a>
      </div>
      <div class="team-member">
        <img src="https://scontent.fceb2-1.fna.fbcdn.net/v/t1.18169-9/28577131_1654104394645235_4887170768474627002_n.jpg?_nc_cat=103&ccb=1-7&_nc_sid=73878a&_nc_eui2=AeGP_EedjqQdJeaFQrpP9JGGxzfMnCGbGgfHN8ycIZsaB1nAWfNadfgabUi-9qusLbfJoYONBhW83Tn1sps3AgJN&_nc_ohc=WgATdOQ_zbwAX-XScPa&_nc_oc=AQlXZUyW_dOHTW1Qo9fJcFyT_h3QFZdgcw2HZj3Ftz2VX6oACxjfVWMFhqy9lmvA0QA&_nc_ht=scontent.fceb2-1.fna&oh=00_AfBQI39lwjh88cRPOanjH73vUljISbivWJbQ7IvSXtoRtQ&oe=65BD1BD8" alt="Team Member 3">
        <h3>Ma. Geraldine J. Palomar</h3>
        <p class="role">Programmer</p>
        <a href="https://www.facebook.com/omgeraldineeee"><i class='bx bxl-facebook-square'></i> </a>
      </div>
      <div class="team-member">
        <img src="https://scontent.fceb2-2.fna.fbcdn.net/v/t39.30808-6/318103786_1312000946263626_7997310145878540301_n.jpg?_nc_cat=107&ccb=1-7&_nc_sid=9c7eae&_nc_eui2=AeGEk7g7W7rk0vON03O6D79AozdKUqTOKsyjN0pSpM4qzEW_n6E4eZdAxIZlCmWQECwWP5SR_34j6rHDme1vgCL4&_nc_ohc=PWmm2n2GaQQAX_makgr&_nc_zt=23&_nc_ht=scontent.fceb2-2.fna&oh=00_AfBuXIUUazQKAHZjII_f2BY_5bPtirLH90CMOyyGen9QvQ&oe=659A59FA" alt="Team Member 3">
        <h3>Keiron Jett C. Zamora</h3>
        <p class="role">Programmer/Documentation</p>
        <a href="https://www.facebook.com/hospital.boy10"><i class='bx bxl-facebook-square'></i> </a>
      </div>
      <div class="team-member">
        <img src="https://scontent.fceb2-2.fna.fbcdn.net/v/t39.30808-6/405398128_906603024521571_8750645985727143093_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=a73e89&_nc_eui2=AeFmP30u6iwnKXt36VxnSm91nTjdYRTs9nKdON1hFOz2cgXsebcx18t9w-gkWmFPeYJcKK3Ae0dA5iAosH9Kkeya&_nc_ohc=q0iARAJC9zoAX9dP3Dv&_nc_zt=23&_nc_ht=scontent.fceb2-2.fna&oh=00_AfAUdCL1OaDyDc01Z7mb9_6xHTHXJcqceuREe8XCK-d0CA&oe=6599FB50" alt="Team Member 3">
        <h3>Gasher John D. Gimoto</h3>
        <p class="role">Documentation</p>
        <a href="https://www.facebook.com/gash.gimoto"><i class='bx bxl-facebook-square'></i> </a>
      </div>
    </div>
    
<footer class="footer">
  <p>&copy; Automated Bioacoustics: Recognition of Chicken Distress Vocalizations 2023 All rights reserved.</p>
</footer>
</section>
<script>
  const body = document.querySelector('body'),
    sidebar = body.querySelector('nav'),
    toggle = body.querySelector(".toggle"),
    searchBtn = body.querySelector(".search-box"),
    modeSwitch = body.querySelector(".toggle-switch"),
    modeText = body.querySelector(".mode-text");
  toggle.addEventListener("click", () => {
    sidebar.classList.toggle("close");
  })
</script>
  
  <!-- JavaScript Imports -->
<script src="{{ url_for('static', filename='js/backtotopbutton.js') }}"></script>
<script src="{{ url_for('static', filename='js/navbar.js') }}"></script>


</body>
</html>
